<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../css/orders.css">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://kit.fontawesome.com/e6688e278c.js" crossorigin="anonymous"></script>

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!----------------js---------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>CX-Orders</title> 
</head>
<body>
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
    <section class="content">

    <div class="top">
        <img src="../../images/coxlogo.png" alt="" > 
        <div class="wrap">
            <div class="search">
            <input type="text" class="searchTerm" placeholder="What are you looking for?">
            <button type="submit" class="searchButton">
                <i class="uil uil-search"></i>
            </button>
            </div>
        </div>
        <div class="icons">
            <div class="icon-container"><div class="icon"><i class="uil uil-shopping-bag"></i></div></div>
            <div class="icon-container"><div class="icon"><i class="uil uil-user"></i></div></div>
        </div>
    </div>
     <nav>
        <div class="search-mobile">
            <input type="search" name="" id="" placeholder="Search here...">
        </div>
        <div class="the-nav">
            <div class="nav-section"><span>Home</span></div>
            <div class="nav-section nav-shop">
                <span>Shop</span> 
                <div class="up-down-icon">
                    <i class="uil uil-angle-down" id="up-down-icon"></i>
                </div>
                <div class="drop-border shop">
                    <div class="dropdown-content">
                        <a href="#"><div class="opt all-shop">
                            <img src="../../images/bracelet (1).png" alt="">
                            <div class="text">
                                <h3>straps</h3>
                                <p>Find the best straps that you can optain, Go to shop now.</p>
                            </div>           
                        </div></a>
                        <a href="#"><div class="opt on-sale">
                            <img src="../../images/sale-seeklogo.com.svg" alt="">
                            <div class="text">
                                <h3>On sale</h3>
                                <p>Discover your favourite items with really good prices.</p>
                            </div>    
                        </div></a>
                        <a href="#"><div class="opt on-sale">
                            <img src="../../images/sale-seeklogo.com.svg" alt="">
                            <div class="text">
                                <h3>straps</h3>
                                <p>Find the best straps that you can optain, Go to shop now.</p>
                            </div>    
                        </div></a>
                      </div>
                </div>
            </div>
            
            <div class="nav-section"><span>Orders</span></div>
            <div class="nav-section nav-help">
                <span>Help</span> 
                <div class="up-down-icon">
                    <i class="uil uil-angle-down" id="up-down-icon"></i>
                </div>
                <div class="drop-border help">
                    <div class="dropdown-content">
                        <a href="#"><div class="opt about">
                            <img src="../../images/coxlogoww.png" alt="">
                            <div class="text">
                                <h3>About CoX</h3>
                                <p>Want to know more about us? Here is all the informaition you may need.</p>
                            </div>           
                        </div></a>
                        <a href="#"><div class="opt contact">
                            <img src="../../images/icons8-call-64.png" alt="">
                            <div class="text">
                                <h3>Contact us</h3>
                                <p>Get in touch if you faced any problem or want to ask about something. </p>
                            </div>    
                        </div></a>
                      </div>
                </div>
            </div>
        </div>
     </nav>
    <h1>My Orders</h1>
    <div class="border"></div>
     <div class="activity-data">
        <table id="myTable">
            <thead>
                <tr>
                    <th><p>Order no</p></th>
                    <th><p>Invoice no</p></th>
                    <th><p>Product</p></th>
                    <th><p>Product Qty</p></th>
                    <th><p>Size</p></th>
                    <th><p>Status</p></th>
                    <th style="cursor: pointer;" onclick="SortTable(3,'D','dmy');"><p>Date</p></th>
                    <th><p>Delete</p></th>
                    
                  </tr>
            </thead>
            <tbody>
                <tr>
                    <td ><p>1</p></td>
                    <td><p>7</p></td>
                    <td><p>COX-NEW BEGINING</p></td>
                    <td><p>2</p></td>
                    <td><p>1</p></td>
                    <td><p>whatttt!!</p></td>
                    <td><p>27/6/22</p></td>
                    <td class="delete"><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                    <td><p>1</p></td>
                    <td><p>7</p></td>
                    <td><p>COX-NEW BEGINING</p></td>
                    <td><p>2</p></td>
                    <td><p>1</p></td>
                    <td><p>whatttt!!</p></td>
                    <td><p>27/6/22</p></td>
                    <td class="delete"><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                    <td><p>1</p></td>
                    <td><p>7</p></td>
                    <td><p>COX-NEW BEGINING</p></td>
                    <td><p>2</p></td>
                    <td><p>1</p></td>
                    <td><p>whatttt!!</p></td>
                    <td><p>27/6/22</p></td>
                    <td class="delete"><i class="fa fa-trash"></i></td>
                </tr>
                                <tr>
                    <td><p>1</p></td>
                    <td><p>7</p></td>
                    <td><p>COX-NEW BEGINING</p></td>
                    <td><p>2</p></td>
                    <td><p>1</p></td>
                    <td><p>whatttt!!</p></td>
                    <td><p>27/6/22</p></td>
                    <td class="delete"><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                    <td><p>1</p></td>
                    <td><p>7</p></td>
                    <td><p>COX-NEW BEGINING</p></td>
                    <td><p>2</p></td>
                    <td><p>1</p></td>
                    <td><p>whatttt!!</p></td>
                    <td><p>27/6/22</p></td>
                    <td class="delete"><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                    <td><p>1</p></td>
                    <td><p>7</p></td>
                    <td><p>COX-NEW BEGINING</p></td>
                    <td><p>2</p></td>
                    <td><p>1</p></td>
                    <td><p>whatttt!!</p></td>
                    <td><p>27/6/22</p></td>
                    <td class="delete"><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                    <td><p>1</p></td>
                    <td><p>7</p></td>
                    <td><p>COX-NEW BEGINING</p></td>
                    <td><p>2</p></td>
                    <td><p>1</p></td>
                    <td><p>whatttt!!</p></td>
                    <td><p>27/6/22</p></td>
                    <td class="delete"><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                    <td><p>1</p></td>
                    <td><p>7</p></td>
                    <td><p>COX-NEW BEGINING</p></td>
                    <td><p>2</p></td>
                    <td><p>1</p></td>
                    <td><p>whatttt!!</p></td>
                    <td><p>27/6/22</p></td>
                    <td class="delete"><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                    <td><p>1</p></td>
                    <td><p>7</p></td>
                    <td><p>COX-NEW BEGINING</p></td>
                    <td><p>2</p></td>
                    <td><p>1</p></td>
                    <td><p>whatttt!!</p></td>
                    <td><p>27/6/22</p></td>
                    <td class="delete"><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                    <td><p>1</p></td>
                    <td><p>7</p></td>
                    <td><p>COX-NEW BEGINING</p></td>
                    <td><p>2</p></td>
                    <td><p>1</p></td>
                    <td><p>whatttt!!</p></td>
                    <td><p>27/6/22</p></td>
                    <td class="delete"><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                    <td><p>1</p></td>
                    <td><p>7</p></td>
                    <td><p>COX-NEW BEGINING</p></td>
                    <td><p>2</p></td>
                    <td><p>1</p></td>
                    <td><p>whatttt!!</p></td>
                    <td><p>27/6/22</p></td>
                    <td class="delete"><i class="fa fa-trash"></i></td>
                </tr>
            </tbody>
          </table>
    </div>
        
    </section>
  <footer>
    <div class="row r1">
        <div class="col c1">
            <h3>QUIK LINKS</h3>
            <div class="inside-col">
                <a href="">Home</a>
                <a href="#">Cart</a>
                <a href="#">Orders</a>
                <a href="#">Profile</a>
            </div>
        </div>
        <div class="col c2">
            <h3>SHOP</h3>
            <div class="inside-col">
                <a href="#">CAT 1</a>
        
                <a href="#">CAT 2</a>

                <a href="#">CAT 3</a>
            </div>
        </div>
        <div class="col c3">
            <a href="#"><img src="../../images/coxlogo.png" alt="" ></a>
        </div>
        <div class="col c4">
            <h3>CUSTOMER SERVICE</h3>
            <div class="inside-col"></div>       
            <div class="inside-col">
                <a href="#">Contact Us</a>
                <a href="#">About COX</a>
                <a href="#">FAQ</a>
            </div>
        </div>
        <div class="col c5">
            <h3>SOCIAL MEDIA</h3>
            <div class="social-icons">
                <a href=""><span class="fab fa-facebook-f" aria-hidden="true"></span></a>
                <a href=""><span class="fab fa-twitter" aria-hidden="true"></span></a>
                <a href=""><span class="fab fa-google-plus-g" aria-hidden="true"></span></a>
                <a href=""><span class="fab fa-linkedin-in" aria-hidden="true"></span></a>
                <a href=""><span class="fas fa-rss" aria-hidden="true"></span></a>
                <a href=""><span class="fab fa-vk" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
    <div class="row r2">
        <p class="copy-right">© 2022 CXIWORLD | All Rights Reserved<br> Developed By Code.ology
        </p>
    </div>
  </footer>



<script src="../js/script.js"></script>

</body>
</html>